<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex align-items-center gap-3">
      <a class="navbar-brand" href="http://localhost:20619/products/all">Home</a>
      <a class="nav" href="http://localhost:20619/chat">Nhắn tin</a>
    </div>
  </div>
</nav>